* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

.quizContainer {
  border: 1px solid gray;
  max-width: 600px;
  margin: 0 auto;
}


h1 {
  text-align: center;
}


#js-quiz-form, .navigation, .endQuizContainer {
  display:none;
}



